@use "reset";
@use "normalize";
@use "root";

:root {
	--cl-button-nav: #1c3260;
	--bc-button-nav: #f4f6fa;
	--bc-button-nav-border: #f4f6fa;
	--bc-button-nav-active: #fbfbfc a;
}
.wrapper {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-rows: auto;
	justify-content: space-between;
	gap: 30px;

	background-color: #ffffff;
	.main {
		width: 100%;
		max-width: 1600px;
		margin: 0 auto;

		min-height: calc(100vh - 78px - 176px);

		padding-inline: 20px;
	}
}

// .container {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	gap: 20px;
// 	.container__content {
// 		width: 100%;
// 		background: rgb(255, 255, 255);
// 		position: relative;
// 		display: flex;
// 		justify-content: center;
// 		flex-direction: column;
// 		align-items: flex-start;
// 		padding: 24px;
// 		gap: 15px;
// 		border-radius: 8px;
// 	}
// }
