.container {
	ul {
		display: flex;
		gap: 30px;
		li {
			a {
				color: #fff;
				font-size: 22px;
				font-weight: 400;

				padding-bottom: 5px;
				&:hover {
					color: #ffffff;
					border-bottom: 1.2px solid #ffffff;
				}
			}
		}
	}
	.active {
		color: #ffffff;
		border-bottom: 1.2px solid #ffffff;
	}
}
